body {
    background-image: url(./PRIMA-9-2.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: white;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}



.caixa-maior {
    background-color: black;
    color: white;
    width: 1200px;
    height: 450px;
    margin-top: 50px;
    border-radius: 30px;
    margin-left: 5%;
}
